/* css/body.css */

html, body {
    background-color: rgba(255, 255, 255, 0); /* Confirm if transparent body background is desired */
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0; /* Reset default padding here first */
    color: #333;

    /* REQUIRED for main page vertical Flexbox */
    display: flex;         /* Makes body a flex container */
    flex-direction: column; /* Stacks children (navbar, main-content, footer) vertically */
    min-height: 100vh;     /* Ensures body takes at least full viewport height */
    height: 100%;          /* Important for consistent scaling */
}

body::-webkit-scrollbar {
    display: none;
}
