
.content-container {
    margin-left: 250px;
    display: flex;
    align-items: top;
    gap: 20px;
    padding: 20px;
    max-width: 960px;
}

.image-area {
    flex: 1;
    min-width: 200px;
    max-width: 200px;
}

.image-area img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-area {
    flex: 2;
}
.top-container {
    padding-top: 100px;
}
.top-container:nth-child(2) h1 {
    font-size: 1.5rem;
}
