.context {
    background-color: lightgrey;
    position: absolute;
    width: 250px;
    height: 170%;
}
.context ul {
    list-style-type: none;
}/*  */
.context ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

