@media screen and (max-width: 426px) {
    .popup-content {
        width: 100%;
        line-height: 1.2rem;
    }
    .close-popup {
        float: right;
        border: none;
        font-size: 1em; /* Slightly smaller size for the close icon */
        color: #e74c3c; /* Red color for the close icon */
        cursor: pointer; /* Pointer cursor on hover */
        transition: color 0.3s ease; /* Smooth color transition on hover */
    }
    .popup-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup-content h1 {
        font-size: 1.5rem; /* Larger font size for the heading */
        color: #2c3e50; /* A darker, prominent color for the heading */
        margin: 0px;
        letter-spacing: auto; /* Slightly tighter letter spacing */
    }
    .popup-content p {
        font-size: 0.5em; /* Slightly larger font for paragraphs */
        margin: 0px; /* Space between paragraphs */
    }
}
